/* PrimeVue */
@import 'primeflex/src/_variables.scss';

/* Custom Variables */
@import './variables';

/* Custom Styles */

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

.app-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #e1e1e1;
    padding: 10px;
}

.app-content {
    flex-grow: 1;
    padding: 10px;
}

